<div id="divPaiFundo" style="border: 3px solid rgb(185, 160, 231);
background: rgb(233, 193, 238);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 95vh !important;">


  <div id="DivQuadradaoBaseEsquerdo" style="
            border: 2px solid rgb(0, 0, 0);
            background: white;
            
            height: 80%;
            width: 41%;
             ">

    <div id="DivQuadradoEsquerdoDentro" style="
            border: 2px solid rgb(0, 0, 0);
            display: flex;
            flex-direction: column;
            background: white;
            
            height: 96%;
            width: 96%;
            
            ">

      <!--FINO-->
      <div id="DivQuadradoFinoDentroEsquerdo" style="
            border: 2px solid rgb(0, 0, 0);
            background: white;
            display: flex;
            flex-direction: row;
            
            height: 11%;
            width: 97%;
           
            "></div>

      <div id="DivQuadradoBaseDentroEsquerdo" style="
        border: 2px solid rgb(0, 0, 0);
        background: white;
        display: flex;
        flex-direction: row;
        
        height: 35%;
        width: 97%;
       
       ">


        <div id="DivQuadradoDentroDaBaseEsquerdo1" style="
            border: 2px solid rgb(0, 0, 0);
            background: white;
            display: flex;
            flex-direction: column;
            width: 100%;
            
            
            ">
          <div id="TelaDeNumeros" style="display: flex;
            width: 100%;
            height: 40%;">


            <app-numero-tela [numeroDigitado]="primeiroNumero"></app-numero-tela>
            <app-numero-tela [numeroDigitado]="segundoNumero"></app-numero-tela>
            <app-numero-tela [numeroDigitado]="terceiroNumero"></app-numero-tela>

          </div>

          <app-nome-tela></app-nome-tela>

        </div>


        <div id="DivQuadradoDentroDaBaseEsquerdo2" style="
            border: 2px solid rgb(0, 0, 0);
            background: white;
            display: flex;
            flex-direction: row;
            
            height: 92%;
            width: 30%;
           
           ">

          <div id="DivQuadradoParaFoto" style="
              border: 2px solid rgb(0, 0, 0);
              background: white;
              display: flex;
              flex-direction: row;
              
              height: 80%;
              width: 80%;
              
              ">
          </div>



        </div>


      </div>

    </div>
  </div>


  <div id="DivQuadradaoBaseDireta" style="
        border: 2px solid rgb(0, 0, 0);
        background: white;
       
        
        height: 80%;
        width: 25%;
         ">

    <div id="DivQuadradoDiretaDentro" style="
        border: 2px solid rgb(0, 0, 0);
        background: white;
        
        height: 74%;
        width: 96%;
         
        ">

      <app-quadradinho-digitar (numeroDigitado)="CapturarNumeroDoOutput($event)"></app-quadradinho-digitar>




    </div>
  </div>