<div id="divPaiFundo" style="border: 3px solid rgb(185, 160, 231);
background: rgb(233, 193, 238);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 95vh !important;">


  <div id="DivQuadradaoBaseEsquerdo" style="
            border: 2px solid rgb(0, 0, 0);
            background: white;
            position: absolute;
            height: 80%;
            width: 41%;
            left: 10%; ">

    <div id="DivQuadradoEsquerdoDentro" style="
            border: 2px solid rgb(0, 0, 0);
            display: flex;
            flex-direction: column;
            background: white;
            position: absolute;
            height: 96%;
            width: 96%;
            left: 2%;
            bottom: 2%; ">

      <!--FINO-->
      <div id="DivQuadradoFinoDentroEsquerdo" style="
            border: 2px solid rgb(0, 0, 0);
            background: white;
            display: flex;
            flex-direction: row;
            position: absolute;
            height: 11%;
            width: 97%;
            top: 2%;
            left: 1%;"></div>

        <div id="DivQuadradoBaseDentroEsquerdo" style="
        border: 2px solid rgb(0, 0, 0);
        background: white;
        display: flex;
        flex-direction: row;
        position: absolute;
        height: 35%;
        width: 97%;
        top: 19%;
        left: 1%;">


          <div id="DivQuadradoDentroDaBaseEsquerdo1" style="
            border: 2px solid rgb(0, 0, 0);
            background: white;
            display: flex;
            flex-direction: row;
            position: absolute;
            height: 92%;
            width: 65%;
            top: 3%;
            left: 1%;">

            <div id="DivQuadradinhoParaNumeros1" style="
          border: 2px solid rgb(0, 0, 0);
          background: white;
          display: flex;
          flex-direction: row;
          position: absolute;
          height: 10%;
          width: 7%;
          left: 30%;
          bottom: 55%;">
            </div>


            <div id="DivQuadradinhoParaNumeros2" style="
          border: 2px solid rgb(0, 0, 0);
          background: white;
          display: flex;
          flex-direction: row;
          position: absolute;
          height: 10%;
          width: 7%;
          left: 37%;
          bottom: 55%;">
            </div>

            <div id="DivQuadradinhoParaNumeros3" style="
          border: 2px solid rgb(0, 0, 0);
          background: white;
          display: flex;
          flex-direction: row;
          position: absolute;
          height: 10%;
          width: 7%;
          left: 44%;
          bottom: 55%;">
            </div>

            <div id="DivLinhaParaNome" style="
          border: 2px solid rgb(0, 0, 0);
          background: white;
          display: flex;
          flex-direction: row;
          position: absolute;
          width: 45%;
          left: 30%;
          bottom: 25%;">
            </div>

          </div>


          <div id="DivQuadradoDentroDaBaseEsquerdo2" style="
            border: 2px solid rgb(0, 0, 0);
            background: white;
            display: flex;
            flex-direction: row;
            position: absolute;
            height: 92%;
            width: 30%;
            top: 3%;
            left: 68%;">

            <div id="DivQuadradoParaFoto" style="
              border: 2px solid rgb(0, 0, 0);
              background: white;
              display: flex;
              flex-direction: row;
              position: absolute;
              height: 80%;
              width: 80%;
              left: 10%;
              bottom: 9%;">
            </div>



          </div>


        </div>
      
    </div>
  </div>


  <div id="DivQuadradaoBaseDireta" style="
        border: 2px solid rgb(0, 0, 0);
        background: white;
        right: 24%;
        position: absolute;
        height: 80%;
        width: 25%;
         ">

    <div id="DivQuadradoDiretaDentro" style="
        border: 2px solid rgb(0, 0, 0);
        background: white;
        position: absolute;
        height: 74%;
        width: 96%;
        left: 2%; 
        bottom: 24%;">

      <app-quadradinho-digitar></app-quadradinho-digitar>
     

      <!--Numeros
      <div id="DivQuadradinhoParaDigitar9" style="
        border: 2px solid rgb(0, 0, 0);
        background: white;
        display: flex;
        flex-direction: row;
        position: absolute;
        height: 15%;
        width: 32%;
        left: 1%;
        top: 1%;">
      </div>

      <div id="DivQuadradinhoParaDigitar8" style="
        border: 2px solid rgb(0, 0, 0);
        background: white;
        display: flex;
        flex-direction: row;
        position: absolute;
        height: 15%;
        width: 32%;
        left: 33%;
        top: 1%;">
      </div>

      <div id="DivQuadradinhoParaDigitar7" style="
      border: 2px solid rgb(0, 0, 0);
      background: white;
      display: flex;
      flex-direction: row;
      position: absolute;
      height: 15%;
      width: 33%;
      left: 65%;
      top: 1%;">
      </div>

      <div id="DivQuadradinhoParaDigitar6" style="
        border: 2px solid rgb(0, 0, 0);
        background: white;
        display: flex;
        flex-direction: row;
        position: absolute;
        height: 15%;
        width: 32%;
        left: 1%;
        top: 16%;">
      </div>

      <div id="DivQuadradinhoParaDigitar5" style="
        border: 2px solid rgb(0, 0, 0);
        background: white;
        display: flex;
        flex-direction: row;
        position: absolute;
        height: 15%;
        width: 32%;
        left: 33%;
        top: 16%;">
      </div>

      <div id="DivQuadradinhoParaDigitar4" style="
      border: 2px solid rgb(0, 0, 0);
      background: white;
      display: flex;
      flex-direction: row;
      position: absolute;
      height: 15%;
      width: 33%;
      left: 65%;
      top: 16%;">
      </div>

      <div id="DivQuadradinhoParaDigitar3" style="
      border: 2px solid rgb(0, 0, 0);
      background: white;
      display: flex;
      flex-direction: row;
      position: absolute;
      height: 15%;
      width: 32%;
      left: 1%;
      top: 31%;">
      </div>

      <div id="DivQuadradinhoParaDigitar2" style="
      border: 2px solid rgb(0, 0, 0);
      background: white;
      display: flex;
      flex-direction: row;
      position: absolute;
      height: 15%;
      width: 32%;
      left: 33%;
      top: 31%;">
      </div>

      <div id="DivQuadradinhoParaDigitar1" style="
        border: 2px solid rgb(0, 0, 0);
        background: white;
        display: flex;
        flex-direction: row;
        position: absolute;
        height: 15%;
        width: 33%;
        left: 65%;
        top: 31%;">
      </div>


      <div id="DivQuadradinhoParaDigitar0" style="
        border: 2px solid rgb(0, 0, 0);
        background: white;
        display: flex;
        flex-direction: row;
        position: absolute;
        height: 15%;
        width: 31%;
        left: 33%;
        top: 47%;">
      </div>
  -->


    </div>

    <div id="DivQuadradoDiretaDentroMenor" style="
        border: 2px solid rgb(0, 0, 0);
        background: white;
        display: flex;
        flex-direction: row;
        position: absolute;
        height: 18%;
        width: 96%;
        top: 79%;
        left: 2%;">

    <app-teclas></app-teclas>

      <!--TECLAS
      <div id="DivQuadradoTeclaBranco" style="
          border: 2px solid rgb(0, 0, 0);
          background: white;
          display: flex;
          flex-direction: row;
          position: absolute;
          height: 45%;
          width: 27%;
          left: 2%;
          bottom: 24%;">
      </div>

      <div id="DivQuadradoTeclaCorrige" style="
          border: 2px solid rgb(0, 0, 0);
          background: white;
          display: flex;
          flex-direction: row;
          position: absolute;
          height: 45%;
          width: 27%;
          left: 35%;
          bottom: 24%;">
      </div>


      <div id="DivQuadradoTeclaConfirma" style="
          border: 2px solid rgb(0, 0, 0);
          background: white;
          display: flex;
          flex-direction: row;
          position: absolute;
          height: 45%;
          width: 27%;
          left: 70%;
          bottom: 24%;">
      </div>
    -->

    </div>
  </div>